// mapas,
// key - valor 


// ususrios base
$standard:(
    color-standard: white,
    bg-standard: black,
    font-standard: 20px,
    border-standard: 2px solid red,

);

// usuarios premium
$premium:(

);