// mixin con parametros



@mixin posicion-relativa ($ariba, $abajo, $derecha, $izquierda) {
   position: relative;
   top: $ariba;
   bottom: $abajo;
   right: $derecha; 
   left:$izquierda ;

    
}

@mixin titulo-global-p($color) {
    color: $color;
    font-size: 5vw;
    padding: 7px;
}

// mixin sin parametros



@mixin display-flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

